{% extends "empty_page.html" %}
{% from "macro.html" import show_book %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Our Books</title>
</head>

<body class="Homepage">
    <nav class="navbar">
        <a href="#" class="logo">Logo</a>
        <div class="home_links">
            <ul>
                <li> <a href="/books/all">Books</a></li>
                <li> <a href="/users/login">Login</a></li>
                <li> <a href="#">Admin</a></li>
                <li> <a href="/users/logout">Logout</a></li>
                <li> <a href="#">Contact</a></li>
            </ul>

        </div>
    </nav>
    
    
    
</body>

{% endblock %}
