{% extends "empty_page.html" %}
{% block content %}

<head>
    <title>Log in</title>
</head>
<body>
    <h1 class="header">Log into your account</h1>
    
    <form>
        <label for="username">Username:</label>
        <input type="text" name="username" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>
        
        <input type="submit" value="Connect">
    </form>
    
    <p>You don't have an account ? <a href="register.html">Create an account</a></p>
</body>

{% enblock  %}