<!DOCTYPE html>
<html>
<head>
    <title>Page d'enregistrement</title>
</head>
<body>
    <h1>Créer un compte</h1>
    
    <form>
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="Se connecter">
    </form>
    
    <p>Vous n'avez pas de compte ? <a href="register.html">Créer un compte</a></p>
</body>
</html>